In [8]:
import pandas as pd
a=[1,2,3]
b=['X','Y','Z']
print(pd.Series(a,b))

X    1
Y    2
Z    3
dtype: int64

In [9]:
colors=['red','blue','green','yellow']
index=[1,2,3,4]
print(pd.Series(colors,index))

1       red
2      blue
3     green
4    yellow
dtype: object

In [16]:
booking={"day1":100,"day2":200,"day3":300}
bid=pd.Series(booking)
print(bid)

day1    100
day2    200
day3    300
dtype: int64

In [19]:
dataset = {
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22]
}
dataf=pd.DataFrame(dataset)
print(dataf)

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22